body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.chapterButton {
  width: 50px !important;
  height: 50px !important;  
}

.BookButtonQuran {
  width: 250px !important;
  height: 50px !important;  
}



.navArrow {
  color: black;
  width: 30px; 
  height: 30px
}

.hoverGrey:hover { color:rgb(75, 75, 75)}


